/*

This source file is part of the ENGAGE-HF Web Frontend open-source project

SPDX-FileCopyrightText: 2023 Stanford University and the project authors (see CONTRIBUTORS.md)

SPDX-License-Identifier: MIT

*/

@import '@schmiedmayerlab/grove-design-system/tailwind.css';
@import '@schmiedmayerlab/grove-design-system/base.css';

@source '../../node_modules/@schmiedmayerlab/grove-design-system/dist/**/*.js';

[data-grove-color-scheme='dark'] .theme-light-only {
  display: none;
}

[data-grove-color-scheme='light'] .theme-dark-only {
  display: none;
}
